sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t mannypac/docker_react -f Dockerfile.dev .

script:
  - docker run -e CI=true mannypac/docker_react npm run test
